<!DOCTYPE html>
<html lang="en">
<head>
    <title>文件列表</title>
</head>
<body>
<div id="toolbar">
    <a href="#" class="btn btn-default" onclick="refresh()"><i class="glyphicon glyphicon-refresh"></i> 刷新</a>
    <a href="#" class="btn btn-default" onclick="delFile()"><i class="glyphicon glyphicon-remove"></i> 删除</a>
</div>
<div>
    <table id="fileInfoTable"></table>
</div>
</body>
<script th:inline="javascript">
// 需要thymeleaf 解析获取数据的脚本，需要放在 <script th:inline="javascript"> 标签内 所以就不抽取了
// 对应页面的脚本必须在 该脚本之后加载，有用到对应的变量
/*<![CDATA[*/
var CTX = [[@{/}]];
/*]]>*/
</script>
<script src="/page/file/js/fileList.js"></script>
</html>