/*参数配置页面样式*/
.div-border {
    border-style: outset;
    padding: 10px 15px;
}
/* bootstrap 本身有对fieldset样式重新定义，要改成原来样式添加一下样式内容 */
fieldset {
    padding: 0px 30px 15px;
    margin: 0 2px;
    border: 1px solid silver;
    border-radius: 5px;/* 设置成圆角 */
}

legend {
    padding: 0px;
    border: 0;
    width: auto;
    font-size: 15px;
}