<!DOCTYPE html>
<html lang="en">
<head th:replace="common/_header::header(~{::title}, ~{::link})">
    <title>用户管理</title>
    <!-- 自定义修改相关样式 -->
    <link href="/page/index/css/index.css" rel="stylesheet">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- 头部logo信息 -->
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">ZERO</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">ZERO</span>
            </a>
            <!-- 上方导航栏 -->
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- 折叠左侧菜单栏按钮 -->
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        <!-- 左侧导航栏 -->
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div style="text-align: center;padding: 11px 0;border-radius: 50%;">
                        <!--<img src="images/kudog_logo.png" style="width: 100px;background-color: #ffffff;border-radius: 50%;"/>-->
                    </div>
                </div>
                <!-- 左侧导航列表 -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                        <a href="#">
                            <i class="glyphicon glyphicon-user"></i> <span>用户管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="#" class="nav-link nav-toggle" data-addtab="fileList" data-url="/user/list">
                                    <i class="glyphicon glyphicon-user"></i> 用户
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <!-- 主体内容部分  start  -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!--<div class="panel panel-default">-->
                <div class="panel-body">
                    <div id="tabs">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#info" role="tab" data-toggle="tab" aria-controls="tab_info">
                                    <i class="glyphicon glyphicon-home"></i> 主页
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="info" role="tabpanel" class="tab-pane content active">
                                <div style="width: 100%; text-align: center"><h2>这里是主页。</h2></div>
                                <div style="float: left;margin-top: 35px;">
                                    <h3>用户管理</h3>
                                    <ul>
                                        <li>
                                            <h4>用户列表</h4>
                                            <div>
                                                用户信息展示
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div style="float: right;margin-top: 35px;">
                                    <img src="/page/index/image/home.gif">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--</div>-->
        </div>
        <!-- 主体内容部分  end  -->
        <!-- 主体页脚内容 -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2018 <a href="#">ZERO</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- 引入公共脚本 -->
    <div th:include="common/_footer::footer"></div>
</body>
</html>