<!DOCTYPE html>
<html lang="zh">
<head>
    <title>参数配置</title>
    <link href="/page/file/configure/css/configurePage.css" rel="stylesheet">
</head>
<body>
    <form id="configForm" th:object="${configVo}">
        <fieldset>
            <legend>上传参数配置</legend>
            <div>
                <input type="radio" id="localWay" value="local" name="uploadWay" th:checked="${configVo.uploadWay == 'local'}" onchange="changeWay('local')"/>
                <label for="localWay">本地方式</label>
                <div class="form-group">
                    <label>上传文件服务的路径</label>
                    <input type="text" id="localfilePath" name="localfilePath" class="form-control" th:value="*{localfilePath}"/>
                </div>
            </div>
            <div >
                <input type="radio" id="smbWay" value="smb" name="uploadWay" th:checked="${configVo.uploadWay == 'smb'}" onchange="changeWay('smb')"/>
                <label for="smbWay">共享文件方式(windows)</label>
                <div class="form-group">
                    <label>共享文件路径</label>
                    <input type="text" id="smbFilePath" name="smbFilePath" class="form-control" th:disabled="${configVo.uploadWay != 'smb'}" th:value="*{smbFilePath}"/>
                </div>
            </div>
        </fieldset>
        <div style="margin-top: 20px;">
            其他参数待扩展(本页参数待真正业务使用中扩展，暂时未使用，功能也未实现)
        </div>
        <hr/>
        <div>
            <a href="#" class="btn btn-primary" onclick="save()">保存</a>
        </div>
    </form>
</body><script th:inline="javascript">
    // 需要thymeleaf 解析获取数据的脚本，需要放在 <script th:inline="javascript"> 标签内 所以就不抽取了
    // 对应页面的脚本必须在 该脚本之后加载，有用到对应的变量
    /*<![CDATA[*/
    var CTX = [[@{/}]];
    /*]]>*/
</script>
<script src="/common/js/ZeroDialog.js"></script>
<script src="/page/file/configure/js/configurePage.js"></script>
</html>